    div.centerDiv button,div.centerDiv a
    {
        margin-left: 30%;
    }
    @media (max-width: 700px)
{
    div.centerDiv button,div.centerDiv a
    {
        margin-left: 22%;
    }
}
    body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.6em;
    background: #F0F8FF;
}
 li{
    list-style:none;

}
.container
{
    width: 70%;
    margin:20px auto;
    overflow:auto;
    height: 600px;
}
.pull-left{float:left;}
.pull-right{float:right;}
header{
    background: #4193DA ;
    color:black;
    padding: 20px 80px;
    overflow:auto;
    font-size: 20px;
    border-radius: 20px;

}
footer{

    background: #4193DA ;
    color:black;
    padding: 20px 80px;
    overflow:auto;
    font-size: 20px;
    border-radius: 20px;

}
@media only screen and (max-width: 900px)
{
    .container{
    width: 90%;
    }
}

.dws-submit
{
padding: 13px 130px;
margin: 5px 0 20px 0;
font-size: 19px;
color:#fff;
background-color: #0000FF;
border:none;
border-bottom:4px solid #00008B;
cursor: pointer;
border-radius: 20px;

}
.adws-submit
{
padding: 13px 139px;
margin: 5px 0 20px 0;
font-size: 19px;
color:#fff;
background-color: #0000FF;
border:none;
border-bottom:4px solid #00008B;
cursor: pointer;
border-radius: 20px;
text-decoration:none;

}
