@media(max-width: 1200px)
{
    li.box-1m a,li.box-2m a,li.box-3m a,li.box-4m a,li.box-5m a{
    font-size:12.5px;
    }
.menu li ul a:hover, .menu li ul li:hover a
{
  font-size: 12.5px;
}
.menu li a:hover, .menu ul li:hover a
{
    font-size:12.5px;
}
}
 body
 {
  background-color: #3CB371;
 }
div.centerInfo h1,div.centerInfo h3
{
  text-align: center;
}

img
{
  width: 100%;
}
.bigmain
    {
    padding-right: 10%; 
    padding-left: 10%;
    }

h3{

    font-family: Times New Roman;
    color: black;
    font-size: 45px;
}
 p
{
    font-size: 26px;
    color: black;
    font-family: Times New Roman;
}
.main
{
    background-color:#D3D3D3;
    margin:0 30px 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 15px;
}

    @media(min-width: 990px)
    {
        .main{
            display: flex; 
        }
    }
 @media(max-width: 990px)
    {
    .bigmain
    {
    padding-right: 1%; 
    padding-left: 1%;

    }
}
    .main div{
        padding:20px;
    }
    .box-1{
        flex:1;
        order:1;
    }
    .box-2{
        flex:1;
        order:2;
    }
    .box-3{
        flex:1;
        order:3;
    }
@media(max-width: 1400px)
{
h3
    {
        font-size: 40px;
    }
 p
   {
    font-size: 23px;
   }
}
@media(max-width: 1300px)
{
h3
    {
        font-size: 30px;
    }
 p
   {
    font-size: 20px;
   }
}
@media(max-width: 1200px)
{
h3
    {
        font-size: 30px;
    }
 p
   {
    font-size: 18px;
   }
}
@media(max-width: 1100px)
{
h3
    {
        font-size: 25px;
    }
 p
   {
    font-size: 16px;
   }
}
@media(max-width: 1000px)
{
h3
    {
        font-size: 22px;
    }
 p
   {
    font-size: 15px;
   }
}
@media(max-width: 989px)
{
h3
    {
        font-size: 35px;
    }
 p
   {
    font-size: 21px;
   }
}
img
{
    border-radius:10px;
}

.mainpie{
    border-radius: 10px;
    background-color:#D3D3D3;
    padding-top: 2%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
  @media(min-width: 1053px){
    .mainpie{
      display: flex;
      padding-top: 2%;
    }
  }
  .mainpie div{
    padding: 12px;
  }
  .box-1pie{
    flex:1;
    order:2;
  }
  .box-2pie{
    flex:1;
    order:1;
  }
  .diagram
  {
padding-right: 3%;
padding-left: 3%;
  }
  strong
  {
    font-size: 28px;
  }
     .clp
{
    font-size: 22px;
    color: black;
    font-family: Times New Roman;
}
@media(max-width: 1400px)
{
h3
    {
        font-size: 40px;
    }
   .clp
   {
    font-size: 19px;
   }
}
@media(max-width: 1300px)
{
h3
    {
        font-size: 30px;
    }
   .clp
   {
    font-size: 17px;
   }
}
@media(max-width: 1200px)
{
h3
    {
        font-size: 25px;
    }
   .clp
   {
    font-size: 15px;
   }
}
@media(max-width: 1100px)
{
h3
    {
        font-size: 30px;
    }
   .clp
   {
    font-size: 14px;
   }
}
@media(max-width: 1053px)
{
h3
    {
        font-size: 35px;
    }
 .clp
   {
    font-size: 21px;
   }
}

[class^="pie"] {
    stroke-width: 60;
    fill: none;
    transition: all ease 450ms;
}

[class^="pie"]:hover {
    stroke-width: 70;
    border-radius: 4px;
}

[class^="line-"] {
    stroke-width: 2;
    stroke: #0a0a0a;
}

.pie-1 {
    stroke-dashoffset: 498;
    stroke: #0ba14b;
    stroke-dasharray: 208 630;
    transition-delay: 25ms;
}

.pie-2 {
    stroke-dasharray: 195 630;
    stroke-dashoffset: 680;
    stroke: #DC143C;
    transition-delay: 50ms;
}

.pie-3 {
    stroke-dasharray: 147 630;
    stroke-dashoffset: 778.5;
    stroke: #FF8C00;
    transition-delay: 50ms;
}


.pie-6 {
    stroke-dasharray: 120 630;
    stroke-dashoffset: 193;
    stroke: #1563a1;
    transition-delay: 150ms;
}

.pie-8 {
    stroke-dasharray: 10 630;
    stroke-dashoffset: 93;
    stroke: #8B008B;
    transition-delay: 250ms;
}

.outline {
    stroke-width: 65;
    stroke: #F5FFFA;
    fill: none;
}

.text-head {
    font-size: 30px;
    font-weight: 600;
}

.text_label {
    font-size: 16px;
    text-transform: uppercase;
}

svg {
    width: 700px;
    height: 450px;
}
   .menu{
    border:none;
    border:0px;
    margin:0px;
    padding:0px;
    width: 100%;
    font-weight:bold;
    margin-left: auto;
    margin-right: auto;
}

.menu ul{
    background:#333;
    height:35px;
    list-style:none;
    margin:0;
    padding:0;

}

.menu li
{
    float:left;
    padding:0px;
    width:25%;
}

.menu li a
 {
    background:#333;
    color:#ccc;
    display:block;
    font-weight:normal;
    line-height:60px;
    margin:0px;
    padding:0px 10%;
    text-align:center;
    text-decoration:none;
    font-family: Arial;
}

.menu li a:hover, .menu ul li:hover a
{
    background:#2E8B57 url("/templates/xhtml/design/hover.gif") bottom center no-repeat;
    color:#FFF;
    text-decoration:none;
    font-family: Arial;
}
.menu li ul
{
    background:#333;
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    width:25%;
    z-index:200;
    position: absolute;
    font-family: Arial;
}


.menu li:hover ul
{
  display:block;
  width:25
}
.menu li li
{
  display:block;
  float:none;
  margin:0px;
  padding:0px;
  width:100%;
}

.menu li:hover li a
{
  background:none;
}

.menu li ul a
{
  display:block;
  height:60px;
  font-size:17px;
  font-family: Arial;
  margin:0px;
  padding:0px 10px 0px 10px;
  text-align:left;
}

.menu li ul a:hover, .menu li ul li:hover a
{
  background:#2E8B57 center left no-repeat;
  border:0px;
  color:#fff;
  text-decoration:none;
  border:1px solid white;
  transition: 0.5s;
  margin:0;
}

@media(max-width: 900px)
    {
    .box-1m li{
        flex:1;
        order:1;
    width: 100%
    }
    .box-2m li{
        flex:2;
        order:2;
        width: 100%
    }
    .box-3m li{
        flex:3;
        order:3;
        width: 100%
    }
    .box-4m li{
        flex:4;
        order:4;        
        width: 100%
    }
    .box-5m li{
        flex:4;
        order:4;        
        width: 100%
    }
    .menu li:hover ul
{
  display:block;
  width:100%;

}
}
@media(max-width: 950px)
{
  .menu li:hover ul
{
  width:25%;

}
@media(max-width: 850px)
{
  .menu li:hover ul
{
  width:24.5%;

}
@media(max-width: 800px)
{
  .menu li:hover ul
{
  width:24.2%;

}
@media(max-width: 750px)
{
  .menu li:hover ul
{
  width:23.8%;

}
@media(max-width: 700px)
{
  .menu li:hover ul
{
  width:23.4%;

}
@media(max-width: 650px)
{
  .menu li:hover ul
{
  width:23%;

}

@media(max-width: 1200px)
{
    li.box-1m a,li.box-2m a,li.box-3m a,li.box-4m a,li.box-5m a{
    font-size:12.5px;
    }
.menu li ul a:hover, .menu li ul li:hover a
{
  font-size: 12.5px;
}
.menu li a:hover, .menu ul li:hover a
{
    font-size:12.5px;
}