      @media(max-width: 800px)
    {
    li.box-1m li{
        flex:1;
        order:1;
    width: 100%;
    font-size:5px;
    }
    li.box-1m a,li.box-2m a,li.box-3m a,li.box-4m a,li.box-5m a,li.box-6m a{
    font-size:10.5px;
    }
    .menu li ul a, .menu li ul li a{
    font-size:10.5px;
    }
    .menu li ul a:hover, .menu li ul li:hover a{
    font-size:10.5px;
    }
    li.box-2m li{
        flex:2;
        order:2;
        width: 100%;

    }
    li.box-3m li{
        flex:3;
        order:3;
        width: 100%;

    }
    li.box-4m li{
        flex:4;
        order:4;        
        width: 100%;

    }
    li.box-5m li{
        flex:4;
        order:4;        
        width: 100%;
    }

    li.box-6m li{
        flex:4;
        order:4;        
        width: 100%;

    }
}
	body
	{
		background:#87CEFA;
	}
	.bigmain
	{
    padding-bottom: 3%;
	}
  .stronG
  {
    font-size: 45px;
  }
  div.centerInfo h3
{
  text-align: center;
}

h3{
  font-family: Times New Roman;
  color: #87CEEB;
	font-size: 44px;
}
 p
{
	font-size: 26px;
    color: black;
}
.main
{
	background-color: #F0F8FF;
	margin:0 30px -25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 15px;
}

	@media(min-width: 990px)
	{
		.main{
			display: flex; 
		}
		.boxes{
		width: 50%;
		}
		img
		{
			width: 50%;
		}

	}
	.main div{
		padding:30px;
    padding-bottom: 20px;
	}
	.box-1{
		flex:1;
		order:1;
	}
	.box-2{
		flex:1;
		order:2;
	}
	.box-3{
		flex:1;
		order:3;
	}
  @media(max-width: 1450px)
{
h3
  {
    font-size: 40px;
  }
 p
   {
    font-size: 24px;
   }
}
@media(max-width: 1400px)
{
h3
	{
		font-size: 40px;
	}
 p
   {
    font-size: 23px;
   }
}
@media(max-width: 1350px)
{
h3
	{
		font-size: 35px;
	}
 p
   {
    font-size: 21px;
   }
}
@media(max-width: 1250px)
{
h3
	{
		font-size: 30px;
	}
 p
   {
    font-size: 20px;
   }
}
@media(max-width: 1150px)
{
h3
	{
		font-size: 26px;
	}
 p
   {
    font-size: 18px;
   }
}
@media(max-width: 1050px)
{
h3
	{
		font-size: 24px;
	}
 p
   {
    font-size: 16px;
   }
}
@media(max-width: 989px)
{
h3
	{
		font-size: 30px;
	}
 p
   {
    font-size: 19px;
   }
}
img
{
	border-radius:10px;
  width: 100%;
}

 .menu{
    border:none;
    border:0px;
    margin:0px;
    padding:0px;
    width: 100%;
    font-weight:bold;
    margin-left: auto;
    margin-right: auto;
}

.menu ul{
    height:35px;
    list-style:none;
    margin:0;
    padding:0;
}

.menu li
{
    float:left;
    padding:0px;
    width:25%;

}

.menu li a
 {
    background:#061634;
    color:#ccc;
    display:block;
    font-weight:normal;
    line-height:60px;
    margin:0px;
    padding:0px 5%;
    text-align:center;
    text-decoration:none;
    font-family: Arial;
}

.menu li a:hover, .menu ul li:hover a
{
    background:#44a1ca;
    color:#FFF;
    text-decoration:none;
    font-family: Arial;
}
.menu li ul
{
    background:#061634;
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    width:25%;
    z-index:200;
    position: absolute;
    font-family: Arial;
}

.menu li:hover ul
{
  display:block;
  width:25%;

}
.menu li li
{
  font-size: 16px;
  display:block;
  float:none;
  margin:0px;
  padding:0px;
  width:100%;
}

.menu li:hover li a
{
  background:none;
}

.menu li ul a
{
  display:block;
  height:60px;
  font-size: 16px;
  font-family: Arial;
  margin:0px;
  padding:0px 10px 0px 10px;
  text-align:left;
}

.menu li ul a:hover, .menu li ul li:hover a
{
  background:#44a1ca;
  border:0px;
  color:#fff;
  text-decoration:none;
  border:1px solid white;
  transition: 0.5s;
  margin:0;
}

