	
body
{
 /*background-image:  url('../img/login2.jpg') ;*/
  	background-color: #00004d;
    background-size:cover ;
}

a:hover
{
	text-decoration: none;
}
.container
{
	width: 450px;
	height: 250px;
	background-color:none;
	margin:130px auto 0 auto;
	text-align: center;
	background-color: #ccccff;
    border:1px solid black;
    border-radius: 4px;
}
.dws-submit
{
padding: 13px 97px;
margin: 5px 0 20px 0;
font-size: 18px;
color:#fff;
background-color: #4d4dff;
border:none;
border-bottom:4px solid #3333ff;
cursor: pointer;
border-radius: 4px;

}

input[type="text"],input[type="password"]
{
	width: 300px;
	height: 50px;
	font-size:18px;
	margin-bottom:25px;
	border-radius: 4px;
	padding-left: 10px;
}
